@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;1,300&display=swap');

.text-center {
    text-align: center;
    margin-top: 80px;
}

.font {
    font-family: 'Shantell Sans', cursive;
}

.click{
    display: block;
}